
<main id="root"></main>

   
  <% if current_user  %>
      <script>
      window.currentUser = {
          "id":  <%= current_user.id%>,
           
           "email":  "<%= current_user.email%>"
           
      }
       </script>
    <% end %>


        <!DOCTYPE html>
<html>
  <head>
        <%# require.resolve('react-dates/lib/css/_datepicker.css') %>

    <meta charset="utf-8">

  
    <style type="text/css">
   
      #map{
            /* position: fixed; */
            top: 74px;
            width: 100vh;
            height: 1000px;
            left: 650px;
      };

     </style>
  </head>
  <body>
    <div id="root">
    
    </div>
   
  </body>
</html>
