<main id="root"></main>


       <script src="https://maps.googleapis.com/maps/api/js" charset="utf-8"></script>
       
  <% if current_user  %>
      <script>
      window.currentUser = {
          "id":  <%= current_user.id%>,
           
           "email":  "<%= current_user.email%>"
      }
       </script>
    <% end %>


        <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React Maps Demo</title>
    <script src="https://maps.googleapis.com/maps/api/js" charset="utf-8"></script>
    <style type="text/css">
      /*setting the width and height of your map element is CRUCIAL*/
      #map {
            position: absolute;
            top: 100px;
            width: 500px;
            height: 700px;
            left: 500px;
      };
     </style>
  </head>
  <body>
    <div id="root">
    </div>
    <script src="bundle.js">
    </script>
  </body>
</html>
