/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// /Users/arshiakhoshnood/Desktop/darebnb/app/assets/images/haunted-savannah-skyline.jpg
body{ 
background: image_url('haunted-savannah-skyline.jpg');
background-size: 150%;;
/* background-repeat: no-repeat; */


}

.nav-bar{
    color: white;
    font-family: Arial;
     overflow:auto;
     text-align: right;
     font-size: 12px;
     background-image: url('scarebnbicon.jpg');
   
}


.icon-wrap{
    position: relative;
}


.icon-wrap-child{
    position: absolute;
    right: 500px;
    
}

.link{
    color:inherit;
    text-decoration: none;
}


.modal-background{
    width: 100vh;
     height: 100vh;
     /* background: black; */
     background: rgba(0, 0, 0, 0.7);
    

}

.modal-child{
    width: 50%;
     height: 50%;
        background: rgba(255, 255, 255,1); /* Green background with 30% opacity */
        
}

.session-submit{
 
}

.login-input{
    margin:5px;
    width: 100%;
    padding: 5px;
    
}

.session-submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff5a5f;
    color: white;
    
}


.form-fields{

}

.login-signup button{
     background: none;
    color: white;
    border: none;
    /* padding: 0!important; */
    font: inherit;
    /* border-bottom: 1px solid #444; */
    cursor: pointer;
    float:right;

    
}

.alt-form-link{
    background: none;
    color: blue;
    border: none;
    padding:0!important;
    font:inherit;
    cursor:pointer;
}

.form-exit-button{
    background: none;
    color: grey;
    border: none;
    font-style: bold;
    font-size: 14px;

}



.login-form-heading {
/* border: 1px solid black; */
    border: none;
    font-style: bold;
    font-size: 18px;

}

.session-help{
       border: none;
  
    font-size: 12px;
}






.login-form-container {
color: black;
}




.login-form-text-input {

}

.login-button {

}

.login-form-box{
    padding:60px;
 

}

.login-form{
    width:60%;
}

.header-name{
 color: white;
 float: right;
}

.header-button{
    background: none;
    color: white;
    border: none;
    /* padding: 0!important; */
    font: inherit;
    /* border-bottom: 1px solid #444; */
    cursor: pointer;
    float:right;
}

.user-dropdown{

}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}


/* 
  <h2 className="header-name">Hi, {currentUser.email}!</h2>
            <button className="header-button" onClick={logout}>Log Out</button> */



