.spot-booking-container{
    text-align: center;
    z-index: 4;
}


.spot--bookings{
    float: right;
    text-align: center;
    width: 50%;
    height: 366px;
}

.spot-booking-form-container{
    position: relative;
    border: 1px solid white;
    width: 70%;
    height: 366px;
    margin: 0 auto;
    background: white;
    top: -17px;

}
