.splash-container {
  width: 500px;
  height: 500px;
  border: 1px solid rgb(25, 21, 21);
  border-radius: 3px;
  position: absolute;
  top: 200px;
  left: 100px;
  display: flex;
}

.splash-booking {
  width: 100%;
  height: 100%;
  background: #000000;
  margin: auto;
  position: relative;
  background-position: top;
}

.splash-booking-header {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  font-weight: 800;
  font-family: sans-serif;
  color: lightgrey;
}

.splash-booking-form {
  margin: 0;
  text-align: center;
}

.splash-search {
  color: black;
}

.splash-guests {
  width: 100%;
}
