.nav-bar {
  width: 100%;
  padding: 20px;
  display: inline-flex;
  align-items: end;
  z-index: 6;
  position: absolute;
  top: -5px;
}

input {
  line-height: normal;
  height: 43px;
  width: 179px;
}

.ul a :hover {
  color: red;
}

.nav-bookings {
  padding: 20px;
}

.nav-container {
  width: 100%;
  padding: 20px;
  display: inline-flex;
  align-items: end;
  position: fixed;
  z-index: 10;
  background: black;
  border-bottom: 1px solid #d3d3d34f;
  height: 60px;
}

a:hover {
  text-decoration: none !important;
}

.nav-bar-heading {
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  display: inline-flex;
  vertical-align: middle;
  margin-left: 20px;
  cursor: pointer;
}

.nav-signup-button {
  color: white;
  border: none;
  background: none;
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  font-family: sans-serif;
  margin-right: 20px;
  cursor: pointer;
}

.air-bnb-front-logo {
  width: 30px;
}

.nav-login-button {
  color: white;
  float: right;
  margin-left: 20px;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  font-family: sans-serif;
  margin-right: 20px;
  cursor: pointer;
}

.nav-dropdown-button {
  color: white;
  border: none;
  background: none;
  text-decoration: none;
  float: right;
  margin-left: 145px;
  font-size: 30px;
}

.nav-dropdown i {
  opacity: 0;
}

.nav-dropdown {
  position: fixed;
  right: 2px;
  position: relative;
  display: inline-block;
  float: right;
  top: 25.9px;
  left: 1px;
  height: 84px;

  position: relative;
  height: 13px;
}

.nav-black-bar {
  width: 100vh;
  border: 40px solid black;
  position: absolute;
  left: 0px;
  top: 0px;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  font-family: "Helvetica Neue", Helvetica;
  text-align: center;
  text-decoration: none;
  top: 20px;
  right: 0;
  position: fixed;
}

.nav-dropdown-content p {
  text-decoration: none;
  display: block;
  font-size: 10px;
  position: relative;
  text-align: center;
  font-family: Helvetica, sans-serif;
  border-bottom: 0.1px solid lightgrey;
  border-left: 0.1px solid lightgrey;
  font-size: 14px;
  padding: 15px;
}

.book-icon {
  width: 20px;
  position: absolute;
  left: 13px;
  top: 4px;
  z-index: 5;
}

.grave-icon {
  width: 20px;
  position: absolute;
  left: 13px;
  top: 35px;
  z-index: 5;
}

.fa-user-circle:before {
  position: absolute;
  left: 115px;
  top: 15px;
  z-index: 19;
}

// .nav-dropdown-content p :hover {
//   background: rgb(41, 41, 41);
//   text-decoration: none;
//   display: block;
//   cursor: pointer;
//   cursor: hand;
// }

.nav-secret :hover {
  background: rgb(41, 41, 41);
  text-decoration: none;
  display: block;
  cursor: pointer;
  cursor: hand;
}

.show-nav {
  display: block;
  top: 80px;
  z-index: 10;
  cursor: pointer;
  margin: -20px;
}

.clown-profile {
  width: 30px;
  border-color: white;
  border-radius: 50%;
  border: 0.2px solid lightgray;
  z-index: 10;
  position: absolute;
  transform: translate(-25px, 0px);
  cursor: pointer;
  left: 98%;
  top: 14px;
  position: fixed;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: underline;
  color: white;
}
