// NOTE: the order of these styles DO matter

// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
  background: #82e0aa; //background
  color: white; //text
  border: 1px solid red;
}

// Will edit selected date or the endpoints of a range of dates
.CalendarDay__selected {
  background:red;
  color: white;
}


.DateInput_input {
    /* font-weight: 200; */
    font-size: 19px;
    line-height: 24px;
    color: white;
    background-color: red;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0;
}