    .review-form form {
    display: inline-grid;
        width: 100%;
}

.review-form input {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    margin-top: 15px;
}

.comment{
    top: 40px;
}


.rating label{
        font-size: 15px;
    font-style: bold;
    position: relative;
    top: 18%;
    left: -1%;
}



.rating {
    float:left;
}

   // notes: 

   //not checked tells browsers that don't support these rules to ignore these styling rules
.rating:not(:checked) > input {
    position:absolute; //position of element on page
   
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right; // element position
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap; // tells the element wether or not it will wrap
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ '; // label inherits this content inside rating class
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover, // checks for whenever a radio input is checked and label is hovered over
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active { //specifies the state of an input label, activated by a user
    position:relative;
    top:2px;
    left:2px;
}