.review-item{
   
    font-size: 20px;
    text-align: left;
    padding-top: 40px;
    border-top: 1px solid grey;
    list-style: none;
}

.review-details{
    display: inline;
    margin: 20px;
    
}
.review-reviewer{
    display: inline;
    top: 20px;
}



.review-review-star{
 display: inline-block;
    margin-left: 0px;
    position: relative;
    left: 60px;
    color: red;
}

// .review-rating{
//     display: block;
//     position: absolute;
//     left: 163px;
//     font-size: 12px;
//     list-style-type: none;

// }


display-review-stars ul li{
    position: relative;
    margin-left: -17.4%;
    
}

.review-comment{
    padding-top: 30px;
    text-decoration: none;
    list-style: none;
    margin-left: 61px;
    padding-right: 2px;
}





.review-item img{
    width: 40px;
    display: inline;
}




