.review-item{
    font-size: 20px;
    text-align: left;
    padding-top: 40px;
    border-top: 1px solid grey;
    list-style: none;
    padding-bottom: 20;
    margin-top: 30px;
}



.review-details{
    display: inline;
    margin: 20px;
    
}

textarea{
  overflow: auto;
    vertical-align: top;
}

.review-label{
    color: white;
    font-size: 22px;
    display: block;
    text-align: left;
}


.review-reviewer{
    display: inline;
    top: 20px;
     color: white;
}



.review-review-star{
 display: inline-block;
    margin-left: 0px;
    position: relative;
    left: 60px;
    color: red;
}



// }

///////// check this?
.display-review-stars ul li{
    position: relative;
    margin-left: -17.4%;
    
}

.review-comment{
    padding-top: 30px;
    text-decoration: none;
    list-style: none;
    margin-left: 61px;
    padding-right: 2px;
    color: white;
}


.review-item img{
    width: 40px;
    display: inline;
}

