.search {
  width: 100%;
  line-height: normal;
  top: 20px;
  left: 55px;
}

.search-container {
  color: black;
  padding-left: 20px;

  top: 20px;
  right: 850px;
}

.search-bar-button {
}

.search-button-orange {
  width: 1230px;
  height: auto;
  display: inline;
}

.hide {
  visibility: hidden;
}

.search-container .search-completer:hover {
  background: rgb(41, 41, 41);
  display: block;
  cursor: pointer;
  cursor: hand;
}

.search-bar {
  width: 300px;
  height: 31px;
  font-size: 12px;
  padding-left: 25px;
  font-style: bold;
  z-index: 15;
}

.search-bar-container {
  border: 1px solid red;
}

.air-bnb-logo {
  width: 34px;
  padding-right: 10px;
  position: absolute;
  left: -20px;
  top: 4px;
}

.search-completer {
  color: white;
  text-align: left;
  width: 300px;
  border: 1px solid white;
  padding: 15px;
  padding-left: 40px;
  background: black;
}

.search-completer-splash {
  color: white;
  text-align: left;
  width: 700px;
  border: 1px solid white;
  padding: 15px;
  padding-left: 40px;
  background: black;
}

.search-completer h1 {
  margin-top: -20px;
  margin-left: 6px;
  position: relative;
  bottom: -18px;
  margin-top: -20px;
  margin-left: 6px;
}

.search-map-pin {
  width: 24px;
  padding-right: 10px;
  margin-left: -20px;
  top: 8px;
  right: 20px;
  margin-bottom: 4px;
}

.magnifying-glass {
  width: 13px;
  position: absolute;
  left: 28px;
  top: 10px;
}
