.background-img { 
    background: image_url('haunted-savannah-skyline.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100%;
    background-attachment: fixed;
}

