
html { 
  background: image_url('haunted-savannah-skyline.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   background-attachment: fixed;
}