.spot-index-container{

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: black;
    position: absolute;
    left:100px;
    right:100px;
    top: 90px;
    bottom: 40px;
   
}

.spot-index-item span{
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    width: 280px;
    height: 200px;
    text-align:center;


}

.spot-index-item-photo {
    width: 260px;
    height: 180px;
    display: flex;
 
}





// .spot-index-container {
//   padding: 0;
//   margin: 0;
//   list-style: none;
  
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
  
//   -webkit-flex-flow: row wrap;
//   justify-content: space-around;
// }

// .spot-index-item span{
//   background: tomato;
//   padding: 5px;
//   width: 200px;
//   height: 150px;
//   margin-top: 10px;
  
//   line-height: 150px;
//   color: white;
//   font-weight: bold;
//   font-size: 3em;
//   text-align: center;
// }