.spot-index-container{
border: 1px solid #ccc;


}

.spot-index-item-photo span{

    height: auto;
    width: 300px;
    height: 200px;
}

.spot-index-item-details span{
    padding: 15px;
    text-align:center;
}

.responsive div{
    padding: 0 6px;
    float: left;
    width: 25%;
}














// .spot-index-container{

//     padding: 40px;
//     margin: 0;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     background: black;
//     position: absolute;
//     overflow:hidden;
//     left:55px;
//     right:100px;
//     top: 90px;
//     bottom: 40px;

// }
// .spot-index-container section{

//     padding: 40px;
//     margin: 0;
//     flex-direction: row;
//     flex-wrap: wrap;
//     background: black;
//     position: absolute;
//     overflow:hidden;
//     left:55px;
//     right:100px;
//     top: 90px;
//     bottom: 40px;
// }

// .spot-index-item span{
//     color: white;
//     width: 260px;
 
//     height: 100px;
//     margin: auto;
//     text-align: center;
//     width: 280px;
//     // height: 200px;
//     text-align:center;
// }

// .spot-index-item-photo {
//     width: 260px;
//     height: 180px;
//     display: flex;
// }
// .spot-index-item-details {
//     width: 260px;
//     height: 180px;
//     display: flex;
// }
// .boxclose:before {
//     content: "×";
// }


