
*{
    box-sizing: border-box;
}



//SPOT INDEX
.flex-container{
    display: inline-grid;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 71.7px;

}

.photo{
    top: 10px;
    position: relative;
    margin-left: 10px;

}

.flex-container > img{
  margin: 10px;
  text-align: center;

}

.flex-container > div{
    background-color: black;
    width: 25%;
    width: 69.1vh;
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    font-style: normal;
    border: 1px solid #403f3f;
    height: 150px;
    width: 56.1vh;
}

//////spot name, type/bedrooms in index page for each item 

.spot-name{
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: -124px;
    left: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;

}

.spot-capacities{
    font-size: 10px;
  

    // font-style: italic;
    position: relative;
    top: -75px;
    left: 220px;
}

.reviews{
    
}


.spot-amenities{
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
    position: relative;
    top: -60px;
    left: 220px;
    color: white;
}

.spot-type-bedrooms{
    font-size: 10px;
    font-style: bold;
    position: relative;
    top: -108px;
    left: 220px;
}

.cost-per-night{
    color: yellow;
    font-size: 14px;
    font-weight: 500;
    font-style: bold;
    position: relative;
    top: -55px;
    text-align: left;
    left: 560px;
}

.skull-heart{ 
    width: 20px;
    position: relative;
    left: 625px;
    top: -175px;

}

.skull-heart :hover{
    background: rgb(41, 41, 41);
    display: block;
    cursor: pointer;
    cursor: hand;
}




//////////////////////REVIEW STARS
.checked{
    color: red;

}

.rating{
    font-size: 15px;
    font-style: bold;
    position: relative;
    left: 25%;
    bottom: -20px;
}


////////////////////////media queries

// .responsive{
//     padding: 0 6px;
//     float: left;
//     width: 25%;

// }


// @media only screen and (max-width: 700px){
//     .responsive{
//         width: 50%;
//         margin:6px 0;
//     }
// }

// @media only screen and (max-width: 500px){
//     .responsive{
//         width: 100%;

//     }
// }